# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\WGU\Scripting and Programming - Applications – C867\University_Migrate_Program\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
